name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Android SDK
      uses: android-actions/setup-android@v3
      
    - name: Install Python and Buildozer
      run: |
        pip3 install buildozer "cython<3.0"
        
    - name: Build APK
      run: |
        yes | buildozer android debug
      
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-apk
        path: bin/*.apk
